@import "tailwindcss";


/* html {
  scroll-padding-top: 4rem;
} */


.cyberpunk {
  text-shadow: 0 0 3px #00f0ff, 0 0 6px #00f0ff,  0 0 12px #00f0ff;
}

/* .cyber-outline {
  -webkit-text-stroke: 0.5px rgba(255, 252, 63, 0.938);
   text-shadow:
    0 2px 2px rgba(0, 255, 255, 0.9),
    0 4px 6px rgba(0, 255, 255, 0.6);
} */

.cyber-outline {
  -webkit-text-stroke: 0.2px rgba(255, 252, 63, 0.938);
}

.cyber-bottom {
  text-shadow:
    0 2px 2px rgba(0, 255, 255, 0.9),
    0 4px 6px rgba(0, 255, 255, 0.6);
}


.about-glitch {
  position: relative;
  display: inline-block;
}

/* glitch layers */
.about-glitch::before,
.about-glitch::after {
  content: "01000001 01000010 01001111 01010101 01010100 00100000 01001101 01000101"; /* ABOUT ME in binary */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: black;
  background: #fcd34d;
  opacity: 0;
}

/* left glitch (cyan) */
.about-glitch::before {
  color: #00f0ff;
  animation: glitchBinary 2s infinite;
}

/* right glitch (red) */
.about-glitch::after {
  color: #ff0040;
  animation: glitchBinary 2s infinite reverse;
}



/* Cyberpunk like font */
@font-face {
  font-family: 'Cynatar';
  src: url('assets/fonts/Cynatar.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Glitch like font */
@font-face {
  font-family: 'GlitchGoblin';
  src: url('assets/fonts/glitch_goblin/GlitchGoblin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/Orbitron_Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galaxy';
  src: url('assets/fonts/SFDistantGalaxy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Saiba';
  src: url('assets/fonts/Saiba_45.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



/* OLD */
/* .glitch {
  position: relative;
  display: inline-block;

  --primary: #00f0ff;
  --shadow-primary: #ff00ff;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --border: 2px;
  --shimmy-distance: 5;

  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 0 95%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 0 85%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
} */

.glitch {
  position: relative;
  display: inline-block;
  line-height: 1.1;
  isolation: isolate;

  --primary: #00f0ff;
  --shadow-primary: #ff00ff;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --border: 2px;
  --shimmy-distance: 2;

  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 0 95%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 0 85%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
}

/* OLD */
/* .glitch-layer {
  position: absolute;
  inset: 0;
  color: white;

  background: transparent;

  text-shadow:
    2px 2px var(--shadow-primary),
    -2px -2px var(--shadow-secondary);

  clip-path: var(--clip);
  animation: glitch 2.5s infinite;

  pointer-events: none;
} */

.glitch-layer {
  position: absolute;
  inset: 0;
  color: white;

  background: transparent;

  text-shadow:
    2px 2px var(--shadow-primary),
    -2px -2px var(--shadow-secondary);

  clip-path: var(--clip);
  animation: glitch 3.5s infinite;

  pointer-events: none;

  font-size: inherit;
  line-height: inherit;
}


.glitch-load {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 3px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch-load:before,
.glitch-load:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch-load:before {
  animation: glitch-new 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch-load:after {
  animation: glitch-new 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}




@theme {

  --font-cynatar: "Cynatar", sans-serif;
  --font-goblin: "GlitchGoblin", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-galaxy: "Galaxy", sans-serif;

  --font-saiba: "Saiba", sans-serif;


    /* --animate-zoom-in: zoom-in 1s ease-in-out forwards;
    @keyframes zoom-in {
      0% {
          transform: scale(0.9);
          opacity: 0;
      }
      100% {
          transform: scale(1);
          opacity: 1;
      }
    }

    @keyframes float {
      0%, 100% { transform: translate(-50%, 0px); }
      50% { transform: translate(-50%, -10px); }
    } */

  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }

    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }

    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    9% {
      transform: translate(0, 0);
    }

    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    13% {
      transform: translate(0, 0);
    }

    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    25% {
      clip-path: var(--clip-five);
    }

    30% {
      clip-path: var(--clip-five);
    }

    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }

    40% {
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }

    50% {
      transform: translate(0, 0);
    }

    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    60% {
      transform: translate(0, 0);
    }

    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }

  
  @keyframes glitchBinary {
    0% {
      opacity: 0;
      transform: translate(0);
    }

    20% {
      opacity: 1;
      transform: translate(-2px, 2px);
    }

    40% {
      opacity: 1;
      transform: translate(2px, -2px);
    }

    60% {
      opacity: 0;
      transform: translate(0);
    }

    100% {
      opacity: 0;
      transform: translate(0);
    }
  }

  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
    }

    41% {
      transform: skewX(10deg);
    }

    42% {
      transform: skewX(-10deg);
    }

    59% {
      transform: skewX(40deg) skewY(10deg);
    }

    60% {
      transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
      transform: skewX(10deg) skewY(-5deg);
    }

    70% {
      transform: skewX(-50deg) skewY(-20deg);
    }

    71% {
      transform: skewX(10deg) skewY(-10deg);
    }
  }

  @keyframes glitch-new {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(-3px, 3px);
    }

    40% {
      transform: translate(-3px, -3px);
    }

    60% {
      transform: translate(3px, 3px);
    }

    80% {
      transform: translate(3px, -3px);
    }

    to {
      transform: translate(0);
    }
  }



}


@layer components {

  .bg-surface {
    @apply bg-gray-900 text-white;
  }

}


